

* {
    margin:0;
    padding:0;
    border:0;
  }
  
body {
    font-family: 'Raleway', serif;
    font-size: 1rem;
    background-color:gainsboro;
  }

#logo {
    float: left;
    margin: 30px;
  }

h2 {
    font-family: 'Raleway', serif;
    font-size: 2rem;
    text-transform: uppercase;
    color:black;
}

#motto {
    font-family: 'Raleway', serif;
    font-size: 1rem;
    float: right;
    margin: 30px;
    color:black;
  }

#blurb {
    text-align: center;
}

footer {
    font-family: 'Raleway', serif;
    font-size: 1rem;
  }

/* this bit of code was taken directly from the love running project, but changed the colour of the footer */
.social-networks {
    text-align: center; 
  }
  
.social-networks li {
    display: inline; 
  }
  
.social-networks i {
    font-size: 160%;
    margin: 1%;
    padding: 5%;
    color:dimgray;
}