
* {
  margin:0;
  padding:0;
  border:0;
}

body {
  font-family: 'Raleway', serif;
  font-size: 1rem;
  background-color:gainsboro;
}
#logo {
  float: left;
  margin: 2rem;
}
h2 {
  font-family: 'Raleway', serif;
  font-size: 2rem;
  text-transform: uppercase;
  color:black;
}
#motto {
  font-family: 'Raleway', serif;
  font-size: 1rem;
  float: right;
  margin: 2rem;
  color:black;
}
#menu {
background-color: ghostwhite;
}
.carousel-item  div> h5 {
background-color: rgba(180, 180, 180, 0.6);
color:black;
}
.carousel-item  div h5 > a {
color:black;
}
#blurb {
  text-align: center;
}
/* this bit of code was altered from love running project */
#club-events-main-page {
margin-top: .6rem;
text-align: center;
}
#lego-main-page {
height: auto;
max-width: 100%;
margin: .6rem;
}
#competition-news-main-page {
margin-top: .6rem;
text-align: center;
}

#club-info {
  margin: 1rem;
}

#coaches-info {
  margin: 1rem;
}

#historical-fencing {
  width: 100%;
  height: auto;
}

#key-fencing-terms {
  margin-top: 1rem;
}

footer {
  font-family: 'Raleway', serif;
  font-size: 1rem;
}
/* this bit of code was taken directly from the love running project, but changed the colour of the footer */
.social-networks {
  text-align: center; 
}

.social-networks li {
  display: inline; 
}

.social-networks i {
  font-size: 160%;
  margin: 1%;
  padding: 5%;
  color:dimgray;
}
