
* {
  margin:0;
  padding:0;
  border:0;
}

body {
  font-family: 'Raleway', serif;
  font-size: 1rem;
  background-color:gainsboro;
}
#logo {
  float: left;
  margin: 2rem;
}
h2 {
  font-family: 'Raleway', serif;
  font-size: 2rem;
  text-transform: uppercase;
  color:black;
}
#motto {
  font-family: 'Raleway', serif;
  font-size: 1rem;
  float: right;
  margin: 2rem;
  color:black;
}
#menu {
background-color: ghostwhite;
}
.carousel-item  div> h5 {
background-color: rgba(180, 180, 180, 0.6);
color:black;
}
.carousel-item  div h5 > a {
color:black;
}
#blurb {
  text-align: center;
}
/* this bit of code was altered from love running project */
#club-events-main-page {
margin-top: .6rem;
text-align: center;
}
#lego-main-page {
height: auto;
max-width: 100%;
margin: .6rem;
}
#competition-news-main-page {
margin-top: .6rem;
text-align: center;
}

#club-info {
  margin: 1rem;
}

#coaches-info {
  margin: 1rem;
}

#historical-fencing {
  width: 100%;
  height: auto;
}

#about-the-sport {
  margin: 1rem;
}

#key-fencing-terms {
  margin-top: 1rem;
}

#competition-table {
  display: inline-block;
  width: 100%;
  overflow-x: auto;
}

#comp-results-table {
  display: inline-block;
  width: 100%;
  overflow-x: auto;
}
#gallery-photo {
  width: 100%;
}

/* added the bits to make the schedule scrollable on smaller screens*/
#schedule-table {
  display: inline-block;
  width: 100%;
  overflow-x: auto;
}

#class-description {
  margin: 1rem;
}

#pricing {
  margin: 1rem;
}

#club-events-schedule-page {
  margin: 1rem;
}

#contact-heading {
  margin-left: 1.5rem;
}
/* Taken from Coders Coffeehouse */

#opening-times {
  height: auto;
  max-width: 100%;
  margin: .6rem;
  }

  
#phone-and-email {
  height: auto;
  max-width: 100%;
  margin: .6rem;
  }

#address {
  height: auto;
  max-width: 100%;
  margin: .6rem;
  }


#form-header {
  margin-left: 2rem;
}

#form-blurb {
  margin-left: 2rem;
}

#info-form {
    left: 10%;
    margin-left: 2rem;
}

#info-prompt {
  text-decoration: underline;
}

#fname {
  margin-top: .6rem;
  margin-bottom: .6rem;
}

#lname {
  margin-top: .6rem;
  margin-bottom: .6rem;
}

#email {
  margin-top: .6rem;
  margin-bottom: .6rem;
}

#fencing-experience-prompt {
  text-decoration: underline;
}

#preference-prompt {
  margin-top: .6rem;
  margin-bottom: .6rem;
  text-decoration: underline;
}

#other-info-prompt {
  margin-top: .6rem;
  margin-bottom: .6rem;
  text-decoration: underline;
}

#form-pic {
  height: 55%;
}

footer {
  font-family: 'Raleway', serif;
  font-size: 1rem;
}
/* this bit of code was taken directly from the love running project, but changed the colour of the footer */
.social-networks {
  text-align: center; 
}

.social-networks li {
  display: inline; 
}

.social-networks i {
  font-size: 160%;
  margin: 1%;
  padding: 5%;
  color:dimgray;
}

@media screen and (max-width: 943px) {
  #gallery-photo {
    column-count: 1;
  }
}

@media screen and (max-width: 800px) {
  #gallery-photo {
    column-count: 1;
  }
}